#body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("img/background.jpg")
}
.container {
    width: 850px;
}
.link {
    text-decoration: none;
}

#photo {
    position: relative;
    z-index: 2;
    top: 120px;
    width: 250px;
    height: 250px;
}
#bio {
    position: relative;
    z-index: 1;
    top: 0px;
    height: 240px;
}
#bio-text {
    position: absolute;
    bottom: 10%;
    left:0;
    width:100%;
}

.card {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#course {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
}
.th {
    font-weight: normal;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}
.td {
    border-radius: 10px;
    height: 80px;
}

#footer {
    color: white;    
    text-align: right;
    opacity: 80%;
}
#footer .link {
    color: #ec886f;
}
